.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.table th {
  background-color: #2c3e50;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.table tr:nth-child(even) {
  background-color: #ecf0f1;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  background-color: #850505;
  color: #fff;
}

.mat-elevation-z8 {
  box-shadow: 0 8px 10000px 0 rgba(25, 55, 4, 0.2), 0 18px 20px 0 rgba(99, 23, 23, 0.19);
  border: 1px solid #ddd;
  border-radius: 5px;
}

button.back-button {
  background-color: #002b58;
  color: #fff;
  border-color: #bfbfbf;
}

.mat-form-field {
  margin-left: 20px;
  width: 200px;
}

.mat-table {
  border-collapse: collapse;
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #2c3e50;
  color: #fff;
  border: 1px solid #ddd;
  padding: 12px;
}

.mat-row {
  background-color: #ecf0f1;
  border: 1px solid #ddd;
}

button.action-button {
  background-color: #1d275d;
  color: #fff;
  margin-right: 5px;
}

.mat-paginator {
  margin-top: 20px;
  justify-content: flex-end;
}