<app-template></app-template>
<div class="main-banner" id="top">
  <video autoplay muted loop id="bg-video">
      <source src="../../assets/images/gym-video.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">


<br>
<br>
<br>
<br>
<br>

<div class="d-flex justify-content-between"  style="max-width: 90%; margin:auto ;">
    <button routerLink="/register-coach" mat-raised-button color="primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
      Ajouter coach </button>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <div class="search-container">
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Firstname" #input>
        <button mat-icon-button type="button" class="search-button">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </div>
  
  <div class="mat-elevation-z8"  style="max-width: 90%; margin:auto;">
    <table mat-table [dataSource]="dataSource" matSort  style="background-color: transparent; color: aliceblue; size: 60%; font-size: large;">
  
      <!-- Add this style tag to your HTML file -->
    
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th  style="background-color: transparent; color: aliceblue;" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td style="background-color: transparent; color: aliceblue;"  mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      
      
  
      
  
  
  
      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th style="background-color: transparent; color: aliceblue;" mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td style="background-color: transparent; color: aliceblue;" mat-cell *matCellDef="let row"> {{row.firstName}}</td>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th style="background-color: transparent; color: aliceblue;"  mat-header-cell *matHeaderCellDef mat-sort-header>Last Name </th>
        <td style="background-color: transparent; color: aliceblue;" mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th style="background-color: transparent; color: aliceblue;" mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td style="background-color: transparent; color: aliceblue;" mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <!-- Mobile Column -->
      <ng-container matColumnDef="mobile">
        <th style="background-color: transparent; color: aliceblue;" mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
        <td style="background-color: transparent; color: aliceblue;" mat-cell *matCellDef="let row"> {{row.mobile}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="Members">
        <th style="background-color: transparent; color: aliceblue;" mat-header-cell *matHeaderCellDef>Members</th>
        <td style="background-color: transparent; color: aliceblue;"  mat-cell *matCellDef="let user">{{ user.Members }}</td>
      </ng-container>
      
      
  
      <!-- Package Column -->
      <ng-container matColumnDef="package">
        <th style="background-color: transparent; color: aliceblue;" mat-header-cell *matHeaderCellDef mat-sort-header> speciality </th>
        <td style="background-color: transparent; color: aliceblue;" mat-cell *matCellDef="let row"> {{row.package}} </td>
      </ng-container>
  
      
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th style="background-color: transparent; color: aliceblue;"  mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td style="background-color: transparent; color: aliceblue;" mat-cell *matCellDef="let row">
          <button mat-icon-button [routerLink]="['/detail-coach', row.id]" class="mx-2" color="warn"><i class="fa fa-eye"
              aria-hidden="true"></i></button>
          <button mat-icon-button (click)="edit(row.id)" color="primary"><i class="fa fa-edit"
              aria-hidden="true"></i></button>
          <button (click)="deleteCoach(row.id)" mat-icon-button color="accent"><i class="fa fa-trash"
              aria-hidden="true"></i></button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td style="background-color: transparent; color: aliceblue;"  class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator  style="background-color: transparent; color: aliceblue;" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <lib-ng-toast></lib-ng-toast>
  <ng-confirm></ng-confirm>
</div>