
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">IIT<em> GYM</em></a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a href="home" class="active">Home</a></li>
                      <li class="scroll-to-section"><a href="emploi">Schedule</a></li>
                      <li class="scroll-to-section"><a href="list-member">Memberes</a></li>
                      <li class="scroll-to-section"><a href="list-coach">Coach</a></li>
                      <li class="main-button"><a  routerLink="/login" >Log out</a></li>
                  </ul>        
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>












