<app-template></app-template>

<div class="main-banner" id="top">
  <video autoplay muted loop id="bg-video">
    <source src="../../assets/images/gym-video.mp4" type="video/mp4">
  </video>

  <div class="video-overlay header-text">
    <br><br><br><br><br>
    <mat-card style="background-color: transparent; max-width: 40%; max-height: 90%; margin: auto; color: aliceblue;" class="my-card text-center mat-elevation-z4">
      <mat-card-header class="justify-content-center">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{userDetails.firstName}} {{userDetails.lastName}}</mat-card-title>
        <mat-card-subtitle>{{userDetails.email}}</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <mat-list class="my-list">
          <mat-list-item>
            <div matLine>
              Coach Name:
              <button mat-raised-button color="accent">{{userDetails.coachName}}</button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div matLine>
              Mobile Number:
              <button mat-raised-button color="accent">{{userDetails.mobile}}</button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div matLine>
              Gender:
              <button mat-raised-button color="accent">{{userDetails.gender}}</button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div matLine>
              Package:
              <button mat-raised-button color="warn">{{userDetails.package}}</button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div matLine>
              BMI:
              <button mat-raised-button color="accent">{{userDetails.bmi}}</button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div matLine>
              BMI Result:
              <button mat-raised-button color="primary">{{userDetails.bmiResult}}</button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div matLine>
              Trainer Require:
              <button mat-raised-button color="warn">{{userDetails.requireTrainer}}</button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div matLine>
              Course:
              <button mat-raised-button color="primary">
                <mat-chip-listbox>
                  <ng-container *ngFor="let row of userDetails.important">
                    <mat-chip-option selected>{{row}}</mat-chip-option>
                  </ng-container>
                </mat-chip-listbox>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-foot></app-foot>
<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>
