<app-template></app-template>
<div class="main-banner" id="top">
  <video autoplay muted loop id="bg-video">
    <source src="../../assets/images/gym-video.mp4" type="video/mp4">
  </video>

  <div class="video-overlay header-text">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br>br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="registration-form" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
      <form style="position: absolute;" [formGroup]="registrationFormcoach" (ngSubmit)="submit()" novalidate style="max-width: 90%">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label style="color: aliceblue;">First Name</mat-label>
              <input style="color: aliceblue;" formControlName="firstName" matInput placeholder="firstName" required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label style="color: aliceblue;">Last Name</mat-label>
              <input style="color: aliceblue;" formControlName="lastName" matInput placeholder="lastName" required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label style="color: aliceblue;">Email</mat-label>
              <input style="color: aliceblue;" formControlName="email" matInput placeholder="email" required>
              <mat-icon matSuffix>mail_outline</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label style="color: aliceblue;">Mobile</mat-label>
              <input style="color: aliceblue;" type="number" formControlName="mobile" matInput placeholder="mobile" required>
              <mat-icon matSuffix>mobile_screen_share</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-6 mt-4">
            <mat-form-field appearance="outline">
              <mat-label style="color: aliceblue;">Select speciality</mat-label>
              <mat-select formControlName="package" required>
                <mat-option *ngFor="let package of packages" [value]="package">
                  {{package}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="accent" [disabled]="!registrationFormcoach.valid">Submit</button>
        <button *ngIf="isUpdateActive" (click)="update()" mat-raised-button color="accent">Update</button>
      </form>
    </div>
  </div>
</div>

<app-foot></app-foot>
<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>