
<app-template></app-template>


<div class="main-banner" id="top">
  <video autoplay muted loop id="bg-video">
      <source src="../../assets/images/gym-video.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">


<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="chart-title" style="text-align: center;color: aliceblue;">Genre</h2>
      <div class="chart-container">
        <div class="chart-wrapper">
          <canvas id="pie-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="chart-title" style="text-align: center;color: aliceblue;">bmi-result</h2>
      <div class="chart-container">
        <div class="chart-wrapper">
          <canvas id="bmi-result-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="chart-title" style="text-align: center; color: aliceblue;">Nombre de membres pour chaque COURS</h2>
      <div class="chart-container">
        <div class="chart-wrapper">
          <canvas id="important-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="chart-title" style="text-align: center; color: aliceblue;">Nombre de membres pour chaque Coach</h2>
      <div class="chart-container">
        <div class="chart-wrapper">
          <canvas id="coachName-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<section class="section" id="call-to-action">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <div class="cta-content">
                  <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                  <p>La salle de sport IITGym vous aider à éliminer le stres </p>
              
              </div>
          </div>
      </div>
  </div>
</section>