<app-template></app-template>
<div class="main-banner" id="top">
  <video autoplay muted loop id="bg-video">
    <source src="../../assets/images/gym-video.mp4" type="video/mp4">
  </video>

  <div class="video-overlay header-text">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="registration-form" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
  <form [formGroup]="registrationForm" (ngSubmit)="submit()" novalidate>
    <div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">First Name</mat-label>
            <input style="color: aliceblue;" formControlName="firstName" matInput placeholder="firstName">
            <mat-icon matSuffix class="mat-icon-rtl-swap">sentiment_very_satisfied</mat-icon>
            <small *ngIf="registrationForm.controls['firstName'].hasError('required') && registrationForm.controls['firstName'].touched" class="mat-form-msg">Nom is required</small>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Last Name</mat-label>
            <input style="color: aliceblue;" formControlName="lastName" matInput placeholder="lastName">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <small *ngIf="registrationForm.controls['lastName'].hasError('required') && registrationForm.controls['lastName'].touched" class="mat-form-msg">Last Name is required</small>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Email</mat-label>
            <input style="color: aliceblue;" formControlName="email" matInput placeholder="email">
            <mat-icon matSuffix>mail_outline</mat-icon>
            <small *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched" class="mat-form-msg">Email is required</small>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Mobile</mat-label>
            <input style="color: aliceblue;" type="number" formControlName="mobile" matInput placeholder="mobile" required>
            <mat-icon matSuffix>mobile_screen_share</mat-icon>
            <small *ngIf="registrationForm.controls['mobile'].hasError('required') && registrationForm.controls['mobile'].touched" class="mat-form-msg">Mobile is required</small>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Weight</mat-label>
            <input style="color: aliceblue;" type="number" formControlName="weight" matInput placeholder="weight">
            <mat-icon matSuffix>line_weight</mat-icon>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Height</mat-label>
            <input style="color: aliceblue;" [readonly]="!this.registrationForm.value?.weight" type="number" formControlName="height" matInput placeholder="height">
            <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">BMI</mat-label>
            <input style="color: aliceblue;" readonly type="number" formControlName="bmi" matInput placeholder="BMI">
            <mat-icon matSuffix><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></mat-icon>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">BMI Result</mat-label>
            <input style="color: aliceblue;" readonly formControlName="bmiResult" matInput placeholder="BMI Result">
            <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <label style="color: aliceblue;" id="example-radio-group-label">Select Your Gender</label>
          <mat-radio-group formControlName="gender" aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
              <span class="custom-radio-label">{{gender}}</span>
            </mat-radio-button>
          </mat-radio-group>
          <div style="color: aliceblue;">Selected Gender is: {{this.registrationForm.value?.gender}}</div>
        </div>
        
        <div class="col-md-6">
          <label style="color: aliceblue;" id="example-radio-group-label">Do you require Trainer?</label>
          <mat-radio-group formControlName="requireTrainer" aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let trainerOpt of ['Yes', 'No']" [value]="trainerOpt">
              <span class="custom-radio-label">{{trainerOpt}}</span>
            </mat-radio-button>
          </mat-radio-group>
          <div style="color: aliceblue;">Selected Option is: {{this.registrationForm.value?.requireTrainer}}</div>
        </div>

        <div class="col-md-6 mt-4" *ngIf="registrationForm.value?.requireTrainer === 'Yes'">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Select coachname</mat-label>
            <mat-select formControlName="coachName">
              <mat-option *ngFor="let coachname of coachnames" [value]="coachname" style="color: aliceblue;">
                {{coachname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 mt-4">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Select Package</mat-label>
            <mat-select formControlName="package">
              <mat-option *ngFor="let package of packages" [value]="package">
                {{package}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 mt-4">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">My Courses</mat-label>
            <mat-select formControlName="important" multiple>
              <mat-option *ngFor="let important of importantList" [value]="important">{{important}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Have been Gym Before?</mat-label>
            <mat-select formControlName="haveGymBefore">
              <mat-option *ngFor="let beenGym of ['Yes', 'No']" [value]="beenGym">
                {{beenGym}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label style="color: aliceblue;">Enquiry Date</mat-label>
            <input formControlName="enquiryDate" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="accent" [disabled]="!registrationForm.valid">Submit</button>
      <button *ngIf="isUpdateActive" (click)="update()" mat-raised-button color="accent">Update</button>
    </div>
  </form>
</div>
</div>
</div>

<app-foot></app-foot>
<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>

<style>
  .custom-radio-label {
    color: white;
  }
</style>
