.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/california.png');
  background-size: cover;
  opacity: 0.8;
}

.title {
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 65px;
  color: #ffffff; /* Couleur du titre */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Ombre du texte */
}

.images {
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: #000000; /* Couleur du titre */
}

.images2 {
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: #000000; /* Couleur du titre */
}

.image-design {
  border: 1.1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-design:hover {
  transform: scale(1.2);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.image-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 350px;
  margin: 0 50px;
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
